@font-face {
  font-family: 'DMSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./DMSans-Regular.ttf) format('ttf');
}
body {
  background-image: url("/assets/Draft Plan(1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  position: relative; 
}
