@font-face {
  font-family: 'DMSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./DMSans-Regular.ttf) format('ttf');
}
body {
  background: url("/assets/Draft Plan(1).png") no-repeat center center fixed;
  background-size: cover;
}
